h1{
    margin: 40px 0 20px;
    font-size: 3rem;
	font-size: bold;
	text-align: center;
}

h1::first-letter {
    color: #f00;
}

body{
    background-color: rgb(213, 205, 205);
    width: 100%;
    min-width: 500px;
    max-width: 1920px;
}
.menu {
    display: flex;
    justify-content: space-around;
}

.sidebar {
  
    display: flex;
    flex-direction: column; 
    background-color: #aba9a7;
    min-width: 200px;
    width: 100%;
}

.sidebar label {
    display: flex;
    align-items: center;
    border-bottom: 1px grey solid;
    padding: 10px 10px;
    font-size: 20px;
    height: 40px;
     
}
.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    width: 100%;
    max-width: 1920px;
    min-width: 600px; 
}
input.wrapper{
    display: none;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input#abis:checked ~ div.wrapper label:nth-of-type(1) {
    background: #000;
    color: white;
}
input#brit:checked ~ div.wrapper label:nth-of-type(2) {
    background: #000;
    color: white;
}
input#blyue:checked ~ div.wrapper label:nth-of-type(3) {
    background: #000;
    color: white;
}
input#siam:checked ~ div.wrapper label:nth-of-type(4) {
    background: #000;
    color: white;
}
input#abis:checked ~ div.wrapper div:not([class="abis"]){
    opacity: .5;
}
input#abis:checked ~ div.wrapper div.abis{
    opacity: 1 !important;
}
input#brit:checked ~ div.wrapper div:not([class="brit"]){
    opacity: .5;
}
input#brit:checked ~ div.wrapper div.brit{
    opacity: 1 !important;
}
input#blyue:checked ~ div.wrapper div:not([class="blyue"]){
    opacity: .5;
}
input#blyue:checked ~ div.wrapper div.blyue{
    opacity: 1 !important;
}
input#siam:checked ~ div.wrapper div:not([class="siam"]){
    opacity: .5;
}
input#siam:checked ~ div.wrapper div.siam{
    opacity: 1 !important;
}
div.wrapper div:nth-child(1) {
    grid-column: 1;
    grid-row: 1/5;
}
div.wrapper div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
div.wrapper div:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1;
}
div.wrapper div:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}
div.wrapper div:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
}
div.wrapper div:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
}
div.wrapper div:nth-child(7) {
    grid-column: 2/4;
    grid-row: 3;
}
div.wrapper div:nth-child(8) {
    grid-column: 4;
    grid-row: 3;
}
div.wrapper div:nth-child(9) {
    grid-column: 2/5;
    grid-row: 4;
}
div.wrapper div:nth-child(10) {
    grid-column: 5;
    grid-row: 1/5;
}
div.wrapper div:nth-child(11) {
    grid-column: 1/6;
    grid-row: 5;
}
.footer{
    display: flex;
    border-top: 1px grey solid;
    justify-content:space-between;
    padding:0 20px 10px 20px;
    margin: 40px 0 20px;
    align-items:flex-end; 
}
   
.sidebar2 {
    background-color: #aba9a7;
    display: flex;
    width: 250px;
    align-self: flex-start; 
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}      

.sidebar2 p.rtext {
    text-transform: uppercase;
    color: red;
    text-align: left;
    font-size: 30px;
    margin: 0;
    width: 250px;
}
.block-breed {
    display: flex;
    flex-direction: column;
}
.blockscale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blockscale div {
    height: 20px;
}
div.breed p {
    font-size: 20px;
    margin: 7px 0;
}

span {
    font-size: 20px;
    font-weight: bold;
}
.scale1 {
    width: 180px;
    background: linear-gradient(to right,green,white);
}
.scale2 {
    width: 160px;
    background: linear-gradient(to right,yellow,white);
}
.scale3 {
    width: 200px;
    background: linear-gradient(to right,green,white);
}
.scale4 {
    width: 80px;
    background: linear-gradient(to right,red,white);
}
.sidebar2 input:checked ~ .block-breed .breed {
    order: var(--default);
}
.sidebar2 label {
    margin-left: 45%;
}
.text {
    position: absolute;
    margin-top: -60px;
    background:rgba(0, 0, 0, .5);
    height: 50px;
    width: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    display: none;
 }

 img:hover ~ p.text{
    display: block;
}
